<div class="fixed h-full w-full z-[9999] bg-[#ffffffb7] mx-auto" *ngIf="isLoading"> 
    <div class="flex relative flex-col justify-center h-[80%] w-[100%] mx-auto items-center">
        <div id="container" class="mx-auto">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="dots2">
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
                <div class="dot2"></div>
            </div>
            <div class="circle"></div>
        </div>
        <h1 class="text-amber-950 font-bold text-3xl">Carregando...</h1>
    </div>
</div>
<!-- 
<div class="container fixed h-full w-full z-[9999] bg-[#ffffffb7] top-0 left-0" *ngIf="isLoading"> 
    <div class="flex relative flex-col justify-center h-[80%] w-full items-center">
        <img height="200" width="200" class="w-[200px] h-[200px] border-b-8 border-b-rose-800" src="../../../../assets/loading.svg" alt="Carregando...">
        <h1 class="text-amber-950">Carregando...</h1>
    </div>
</div> -->

