ul {
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;

    li {
        @apply flex justify-around items-center flex-wrap border-b border-gray-400;

        &:last-child{
            border: none;
        }

        img {
            @apply w-[5rem] h-[5rem] rounded-full object-cover;
        }
        div {
            padding: 1rem;
            &:not(:first-child) {
                flex-basis: 18%;
            }
        }
        select {
            @apply outline-none border-none w-[3rem] border-b border-gray-500 text-xl font-thin;
       
        }
        
        .rm-btn {
            @apply rounded-2xl border-none p-2 bg-gray-200 text-red-500 outline-none opacity-[0.7];

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}

.checkout {
    @apply flex flex-col justify-between items-center md:h-[20rem] border border-red-200 rounded-2xl;
    div {
        @apply m-4 flex flex-col justify-center text-2xl items-start text-start;
        flex: 3;
    }

    .foods-count {
        @apply mb-6;
        &::before {
            content: "Count: ";
            color: grey;
        }
    }
    .total-price {
        &::before {
            content: "Price: ";
            color: grey;
        }
    }

    a {
        @apply p-4 text-white bg-red-500 block w-[99%] rounded-2xl text-center opacity-[0.7] self-center mb-1;

        &:hover {
            @apply opacity-100;
        }
    }
}